.FriendProfile{
    position: flex;
    display: flex;
    font-family: Arial;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bubble, .activeBubble, .inactiveBubble, .permBubble{
    padding: 4px 7px;
    border-radius: 15px;
    margin: 0 2px;
}
.permBubble{
    background-color:violet;
}
.activeBubble{
    background-color:lightskyblue;
}
.inactiveBubble{
    color: rgb(150, 150, 150);
    background-color:rgb(225, 225, 225);
}

.profilePhoto{
    position: relative;
    object-fit: contain;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.userDetails{
    position: relative;
    left: 5%;
}

.backButton{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    text-decoration: none;
    color:black;
}

.bottomText{
    font-size:large;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: lightgrey;
}

.bioBox{
    margin-top: -10px;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgrey;
}