.Footer {
  position: absolute;
  left: 12.85%;
  bottom: 0%;
  /* bottom: 0; /* If it's */
  height: 14%;
  width: 100%;
  background-color: #111111; /* The colour of the footer's top bar */
  opacity: 100%; /* If set to 40% as it was -> more difficult to see link text */
  z-index: -1;
}
.background_colour_grey {
  background-color: #BBBBBB; /* A silverish colour that kind of goes alright with the yellow/gold */
  color: #000000; /* Black stands out against the silverish background */
  height: 100%; /* Makes sure everything below the 'bar header' is the silverish colour instead of going back to black */
}