.LoginBox{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eeeeee;
    border: 3px solid #393a30;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    padding: 50px 30px;
}

.lbContent{
    color:black(0, 0, 0);
    margin-bottom: 30px;
}

.textbox{ /*type-box, i got this style from "copy-paste-css.com" */
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9c9c9c;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }   
}

.hlink{
    color:#7584aa;
}

.LoginButton{ /* from "https://copy-paste-css.com/" */
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #396a92;
    height: 48px; 
}
.LoginButton:hover{
    background-color: #5688b1;
}
