.ResetPassword{
    font-family: "Arial";
    background: linear-gradient(#2e2e2e,#282a35);
    height: 100vh;
    padding: 30px;
}

.CenterRP{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 1080px;
    height: 550px;
    background-color: #eeee;
    border: 2px solid #393a30;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 20px;
    overflow: auto;
}

.TitleRP{
    text-align: center;
    font-size: 36pt;
    margin: 0;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    text-shadow:1px 1px 3px grey;
}

.textboxRP{ /*type-box, i got this style from "copy-paste-css.com" */
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9c9c9c;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

    margin: 0 20px 20px 20px;
    width: calc(100% - 40px);
}

.tbLabelRP{
    margin: 0 20px 10px 20px;
}
label.tbLabelRP{ /*fixes spacing issue of label type*/
    display: block;
}

.ButtonSubmitRP{ /* from "https://copy-paste-css.com/" */
    /* reused from "LoginButton" */
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #396a92;
    height: 48px; 
    width: 48px;
    overflow:hidden;

    margin-top: 50px;
    margin-bottom: 25px;
}
.ButtonSubmitRP:hover{
    background-color: #5688b1;
}

.CenterRP{
    display: block;
    margin: 0 auto;
}