.tabs-container {
    display: flex;
    justify-content: space-between; /* Adjusts the space between the flex items */
    width: 100%;
    padding: 0 4vw; /* Adds horizontal padding */;
	white-space: pre-wrap;
	font-family: 'Akkurat Mono', monospace;
}

.tab {
    background-color: #333; /* Unified background for both tabs */
    width: 42%; /* Set a consistent width for both tabs */
    height: 60vh;
    position: relative;
}

.RightTab {
	position: relative;
	left:55vw;
}
.LeftTab {
	position: absolute;
	left:5vw;
}
.TopTab {
	position: absolute;
	top: 5%;
}
.BottomTab {
	position: absolute;
	bottom: 5%;
}

.container {
	background-color: #333;
}

.internal_container {
	height: 25vh;
	width: 100%;
	background-color: #999;
	flex-grow: 1;
}

.fake_tab {
	display: inline-block;
	margin-left: 40px;
}

.text_box {
	text-align: justify;
	text-justify :auto; 
	padding: 15px;
	text-overflow :ellipsis; 
	overflow :auto;
	max-height :100%;
}

.button-generic {
	position:absolute;
	bottom: 20px;
	display: block;
	padding: 12px 24px;
	font-size: 16px;
	background-color: #336;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
}

.inactive {
	background-color: #D9D9D9;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px; 
	padding-bottom:2px;
	border-radius: 10px;
}

.active {
	background-color: #AFB4F8;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px; 
	padding-bottom:2px;
	border-radius: 10px;
}

.unset {
	background-color: red;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px; 
	padding-bottom:2px;
	border-radius: 10px;
}

.rounded_edges {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:2px;
	border-radius:10px;
}